body {
            background-color: rgb(30, 30, 30);
            height: 100vh;
            line-height: 1.6em;
            margin: 0;
        }

       .title {
    display: inline-block;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    margin-bottom: 90px;
    padding: 40px 80px;

    position: relative;
    top: 80px;
}



.container {
    width: 85%;
    max-width: 850%;
    margin: 0 auto;
    color: white;
    text-align: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtext {
    font-size: small;
}

.header {
    background-color: #333;
    color:white;
    padding: 1rem 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 4em;
transition: all 0.1s linear;
}

.logo:hover
{
    width: 5em;
    pointer-events: painted;
    cursor: pointer;
}
.navigation ul {
    margin: 0;
padding: 0;
list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.1rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background-color: #ccc;
}