body {
            background-color: rgb(30, 30, 30);
            height: 100vh;
            line-height: 1.6em;
            margin: 0;
        }

.bodyDownloads{
            background-color: rgb(30, 30, 30);
            height: 100vh;
            line-height: 1.6em;
            margin: 0;
            padding-top: 80px;
}

.contact {
    margin: 0;
    padding: 0;
}

.containerMail {
      display: flex;
      justify-content: center;
      align-items: center;

     flex-direction: column;
}

textarea {
    margin-top: 2%;
    width: 500px;
    height: 400px;
    text-align: left;
    padding: 10px;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
  }

.botones {
  display: flex;
  justify-content: center;
  gap: 10px;              
  margin-top: 20px;
}

.optionsbutton {
  font-size: x-large;
  transition: all 0.2s ease;
  padding: 5px 20px;
}

.optionsbutton:hover {
  transform: scale(1.15);
}

       .title {
    display: inline-block;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    padding: 40px 80px;

    position: relative;
    top: 80px;
}

.downloadList {
    color: white;
    top: 50px;
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linkable {
    text-decoration: none;
    color: brown;
transition: all 0.4s linear;
border-radius: 20px;

margin-top: 90px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.1em;
}

.linkable:hover {
    background-color: antiquewhite;
}

.container {
    width: 85%;
    max-width: 850%;
    margin: 0 auto;
    color: white;
    text-align: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtext {
    font-size: small;
}

.comingsoon {
    font-size: xx-large;
    padding-top: 90px;
}

.version {
    font-size: xx-large;
}

.header {
    background-color: #333;
    color:white;
    padding: 1rem 0;
z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 3em;
transition: all 0.1s linear;
}

.logo:hover
{
    width: 3.3em;
    pointer-events: painted;
    cursor: pointer;
}

.navigation ul {
    margin: 0;
padding: 0;
list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.1rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background-color: #ccc;
}

.main {
    padding-top: 6rem;
}

.footerMain {
    text-align: center;
    color: white;
    font-size: x-small;
    margin-top: 80px;
    position: fixed;

    left: 0;
    bottom: 0;
    right: 0;
}

input[type='email'] {
     padding: 8px 40px;
     font-size: 20px;
     display: flex;
     align-content: center;
}